@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Fira Sans", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(245, 245, 245);
    
}

.btn{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px;
    transition: 0.7s;

}



.btn.explore-btn{
    color: white;
   background-color:rgb(0, 106, 80);
}

.btn.explore-btn.subscribe{
    padding: 10px 26px;
}

img{
    width:100%;
    height:100%;
    
}


 #header-section{
    margin:0 160px;
    padding-bottom: 40px;

} 

.header-section-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.header-logo{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}

#hero{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    
}

.hero-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    
    
}
.hero-child-idea p{
    margin-bottom: ;
}

 
.hero-child-idea h1{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 50px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
margin-bottom:15px 0  40px 0;

}



.hero-child .img-div{
    width: 434px;
    height: 329px;
}

/* main section code start here */


#vision-section{
    margin: 0 160px;


}
#vision-section h2{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;

}
#vision-section p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}
.vision-container{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}



.vision-container-child{
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
width: 410px;
padding:32px 32px;
}




.vision-container-child .vision-img{
    width: 49px;
    height: 53px;
}

.vision-container-child h4{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}

.vision-container-child p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 35px;
    
}

.vision-container-child .vision-btn{
    background: rgb(9, 161, 92);
    color: white;

}

.vision-container-child .vision-btn1{
    background: rgb(255, 194, 57);
    color: white;

}

.vision-container-child2{
    background: rgb(198, 228, 214);

}
.vision-container-child3{
    background: rgb(247, 235, 207);

}

 

#vision-section .para-container{
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-top: 32px;
padding: 48px 22px;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
background-position: 22px 42px;
}

.para-container p{
 color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

.para-container p small{
color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}


/* recent news section code start here */


#recent-news-section{
    margin: 0 160px;
}

#recent-news-section h3{
 color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 37px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}

#recent-news-section p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}

.recent-news-container{
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 48px;
    margin-bottom: 30px;
}



.satelite-img-div{
   width: 400px;
   height:300px;
   
}

.satelite-img-div img{
    border-radius: 24px;
}

.jazeera-img-parent{
    width: 740px;
    height: 310px;
}

.jazeera-img-div{
    width: 140px;
    height: 40px;
}

.jazeera-img-parent p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 27px;
}

/* donate section code start here */

#donate-section{
    margin: 0 160px;
}

#donate-section h4{
color: rgb(14, 14, 14);
font-size: 30px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}

#donate-section p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;

}

.donate-section-child-parent{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.donate-section-child{
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 12px;
background: rgb(255, 255, 255);
padding: 32px 45px;
}

.donate-section-child-color{
    background: rgb(198, 228, 214);
}

.donate-input{
    width: 1000px;
    display: block;
    padding: 15px 0;
    margin: 30px auto;
    text-align: center;
    border: none;

}
#donate-section button{
    display: block;
    margin: 0 auto;
}

/* newsletter code start here */

#newsletter-section{
    margin:50px 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.newsletter-section-container{
    padding: 80px 100px;
    position:relative;
}

.newsletter-section-container h3{
text-align: center;
color: rgb(14, 14, 14);
font-size: 30px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
}

.newsletter-section-container p{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

.newsletter-inpute{
    display: block;
    margin: 20px auto;
    padding: 13px 150px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 10px 0 0 10px;

    

}

.newsletter-section-container .subscribe{
    display: inline-block;
    position:absolute;
    top: 255px;
    right: 233px;
    border-radius:0 13px 13px 0;
}

.btn:hover{
    background-color: aqua;
}






