@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Fira Sans", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


 #header-section{
    background: rgb(245, 245, 245);
    padding:20px 160px;

} 
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header-logo{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: right;

} 

.header-button{
color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px;

}



